<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./app/tests/PHPUnitBootstrap.php" colors="true">

    <testsuites>
        <testsuite name="GulpGenerator Test Suite">
            <directory>./app/tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./app/tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>