/***************************
 ********* BUTTONS *********
 **************************/
.btn, [class*='btn-'] {
  appearance: none; // to override default mobile styling
  background-color: $grey-light;
  border: 1px solid darken($grey-light, $btn-hover-darken);
  color: $black-regular;
  cursor: pointer;
  display: inline-block;
  font-size: 1em; 
  font-weight: 300;
  margin: 0;
  padding: 8px 25.6px;
  text-decoration: none;
  text-align: center;
  transition: background .3s ease-out;
  user-select: none;
  vertical-align: middle;

  &:hover{
    background-color: darken($grey-light, $btn-hover-darken);
  }
  &:focus {
    outline: none;
  }
}

.btn[disabled], .btn.disabled, [class*='btn-'][disabled], .disabled[class*='btn-']{
  cursor: default;
  opacity: .5;
  pointer-events: none;
}

.btn-red{
  color: $white-regular;
  background: $red-regular;
  border-color: darken($red-regular, $btn-hover-darken);
  &:hover{
    background: darken($red-regular, $btn-hover-darken);
  }
}

.btn-green{
  color: $white-regular;
  background: $green-regular;
  border-color: darken($green-regular, $btn-hover-darken);
  &:hover{
    background: darken($green-regular, $btn-hover-darken);
  }
}

.btn-turquoise{
  color: $white-regular;
  background: $btn-turquoise;
  border-color: darken($btn-turquoise, $btn-hover-darken);
  &:hover{
    background: darken($btn-turquoise, $btn-hover-darken);
  }
}

.btn-orange{
  color: $white-regular;
  background:$orange-regular;
  border-color: darken($orange-regular, $btn-hover-darken);
  &:hover{
    background: darken($orange-regular, $btn-hover-darken);
  }
}

.btn-purple{
  color: $white-regular;
  background: $purple-regular;
  border-color: darken($purple-regular, $btn-hover-darken);
  &:hover{
    background: darken($purple-regular, $btn-hover-darken);
  }
}

.btn-blue{
  color: $white-regular;
  background: $blue-regular;
  border-color: darken($blue-regular, $btn-hover-darken);
  &:hover{
    background: darken($blue-regular, $btn-hover-darken);
  }
}

.btn-yellow{
  color: $white-regular;
  background: $yellow-regular;
  border-color: darken($yellow-regular, $btn-hover-darken);
  &:hover{
    background: darken($yellow-regular, $btn-hover-darken);
  }
}

.button-group{
  padding: 10px 0;
}
.btn-link{
  background: transparent;
  border: 1px solid transparent;
  color: #4082a0;
  margin: 7px 23px;
  padding: 2px;
  transition: border .3s ease-out 0s;

  &:hover{
    background: transparent;
    border-bottom: 1px solid $blue-regular;
  }
}
