/***************************
 ********* BUTTONS *********
 **************************/
.btn, [class*='btn-'] {
  appearance: none; // to override default mobile styling
  background-color: $btn-gray;
  border: 1px solid darken($btn-gray, $btn-hover-darken);
  color: $font-color;
  cursor: pointer;
  display: inline-block;
  font-size: 1em; 
  font-weight: 300;
  margin: 0;
  padding: 8px 25.6px;
  text-decoration: none;
  text-align: center;
  transition: background .3s ease-out;
  user-select: none;
  vertical-align: middle;

  &:hover{
    background-color: darken($btn-gray, $btn-hover-darken);
  }
  &:focus {
    outline: none;
  }
}

.btn[disabled], .btn.disabled, [class*='btn-'][disabled], .disabled[class*='btn-']{
  cursor: default;
  opacity: .5;
  pointer-events: none;
}

.btn-red{
  color: $font-color-light;
  background: $btn-red;
  border-color: darken($btn-red, $btn-hover-darken);
  &:hover{
    background: darken($btn-red, $btn-hover-darken);
  }
}

.btn-green{
  color: $font-color-light;
  background: $btn-green;
  border-color: darken($btn-green, $btn-hover-darken);
  &:hover{
    background: darken($btn-green, $btn-hover-darken);
  }
}

.btn-turquoise{
  color: $font-color-light;
  background: $btn-turquoise;
  border-color: darken($btn-turquoise, $btn-hover-darken);
  &:hover{
    background: darken($btn-turquoise, $btn-hover-darken);
  }
}

.btn-orange{
  color: $font-color-light;
  background:$btn-orange;
  border-color: darken($btn-orange, $btn-hover-darken);
  &:hover{
    background: darken($btn-orange, $btn-hover-darken);
  }
}

.btn-purple{
  color: $font-color-light;
  background: $btn-purple;
  border-color: darken($btn-purple, $btn-hover-darken);
  &:hover{
    background: darken($btn-purple, $btn-hover-darken);
  }
}

.btn-blue{
  color: $font-color-light;
  background: $btn-blue;
  border-color: darken($btn-blue, $btn-hover-darken);
  &:hover{
    background: darken($btn-blue, $btn-hover-darken);
  }
}

.btn-yellow{
  color: $font-color-light;
  background: $btn-yellow;
  border-color: darken($btn-yellow, $btn-hover-darken);
  &:hover{
    background: darken($btn-yellow, $btn-hover-darken);
  }
}

.button-group{
  padding: 10px 0;
}
.btn-link{
  background: transparent;
  border: 1px solid transparent;
  color: #4082a0;
  margin: 7px 23px;
  padding: 2px;
  transition: border .3s ease-out 0s;

  &:hover{
    background: transparent;
    border-bottom: 1px solid #4082a0;
  }
}
