/*
 * Set base font
 */
html{
  font-size: $base-font-size;
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}
body, input, textarea, select{
  color:  $black-regular;
  font: 1em $default-font-stack;
}
::placeholder{
    color:$grey-dark;
    font-style: italic;
}
a{
  background:transparent;
  border: 1px solid transparent;
  color: $blue-regular;
  cursor: pointer;
  text-decoration: none;
  vertical-align:baseline;
  transition: all $animation-duration $animation-easing;
}
p a:hover{
  border-bottom: 1px solid $blue-regular;
}
img{
  max-width: 100%;
}
p {
  padding-bottom: 1rem;
}
ol {
  margin-left: 1.125rem;
  padding-bottom: 1rem;
}
ul {
  list-style: none;
}
h1 {
    font-size: 2.4em;
    font-weight: lighter;
    padding: 0 0 1.5625rem;
}
h2 {
    font-size: 1.8em;
    font-weight: 300;
    padding: 0 0 1rem;
}
h3 {
  font-size: 1.4em;
  font-weight: 300;
  padding: 0 0 1rem;
}
h4 {
  font-size: 1.2em;
  font-weight: 300;
  padding: 0 0 1rem;
}
h5 {
  font-size: 1.1em;
  font-weight: 300;
  padding: 0 0 1rem;
}
h6 {
  font-size: 1.0em;
  font-weight: 300;
  padding: 0 0 1rem;
}