.field{
  display: flex;
  padding: .2rem 0;
  position: relative;

  label{
    cursor: pointer;
    display: block;
    padding: .2rem 0;
    width: 220px;
  }
  input, textarea{
    border: 1px solid #cecece;
    border-radius: 0;
    margin: 0;
    outline: none;
    padding: .2rem;
    width: 13.75rem;
    
    &[type=radio], &[type=checkbox]{
      width: auto;
    }

    &[type=radio], &[type=checkbox],&[type=range]{
      border:none;
    }
    &.full-width{
      width: 100%;
    }
  }
  .radio-group{
    width: 13.75rem;

    label{ 
      display: inline;
    }
  }
  
  textarea{
    height: 5em; // 3 lines
    resize: vertical;
  }
  
  .error{
    margin-left: 220px;
  }
}

.buttons {
  justify-content: center;
  margin: 2em 0;
}
.message {
  padding-left: 50%;
  text-align: left;
}

.divider {
  display: block;
  margin: 0 1%;
  overflow: hidden;
  text-align: center;
  white-space: nowrap; 

  & > span {
    position: relative;
    display: inline-block;
  }

  & > span:before,
  & > span:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 1px;
      background: #999;
  }

  & > span:before {
      right: 100%;
      margin-right: 15px;
  }

  & > span:after {
      left: 100%;
      margin-left: 15px;
  }
} 

[contenteditable]{
  border-bottom: 1px solid #cecece;
  display: inline-block;
  min-height: 1em;
  min-width: 200px;
}