  <nav class="fixed-title">
    <h2>tasks for {{gulpfile.name}}  <span class="version-number">({{gulpfile.version | semverFilter}})</span> </h2>
  </nav>

  <messagebox title="'error'" msg="error"></messagebox>

  <div class="task-list">

    <div ng-hide="gulpfile.tasks">No active tasks present. Add a new task.</div>

    <!-- iterate through the all tasks -->
    <form class="task" ng-repeat="(key, task) in gulpfile.tasks" ng-class="{toggled: $parent.toggled==task}" ng-submit="validate(taskform, task)">

      <div class="task-header">
        <h2 ng-click="toggle(task)">
          <a ng-show="!$parent.isEdit(task)">{{task.name}}</a>
          <input ng-show="$parent.isEdit(task)" type="input" placeholder="task name" ng-model="task.name" required />
        </h2>

        <h3>{{task.description}}</h3>
      </div>

      <div class="task-body">
        <div class="task-body-inner" name="taskform">
          <p>Type: {{task.type}}</p>
          <!-- iterate through the configured fields -->
          <div class="field clearfix" ng-repeat="(key, field) in task.fields">
            
            <label>{{field.name}}</label>

            <!-- Show edit or read only field -->
            <span ng-show="!$parent.isEdit(task)" ng-bind="field.value"></span>
            <input ng-show="$parent.isEdit(task)" type="{{field.type}}" placeholder="{{field.name}}" ng-model="field.value" required />
          </div>
        
          <!-- Show a list of dependencies -->
          <h3 class="dependencies" ng-show="task.dependencies.length">Dependencies</h3>
          <ul ng-repeat="(key, dependency) in task.dependencies">
            <li>{{dependency}}</li>
          </ul>

          <h3 class="no-task-specs" ng-hide="task.dependencies.length+task.fields.length">No specs for this task</h3>

          <!-- Edit mode for this task -->
          <a class="edit-toggle edit-btn" ng-show="!$parent.isEdit(task)&&task.fields" ng-click="$parent.edit(task)">+</a>
          <button class="gulp-button edit-toggle close-btn" ng-show="$parent.isEdit(task)"></button>
          
          <a class="btn small" ng-click="delete(task)">delete</a>
        </div>
      </div>

    </form>  

  </div>

  <div class="add-task-bar">
    <a class="gulp-button add-btn" ng-click="addMode();">+</a>
    <a class="gulp-button generate-btn" href="/#/gulpfile/{{gulpfile.guid}}/generate" title="generate gulpfile">&rArr;</a>
  </div>

  <div class="add-task" ng-controller="PredefinedTasksController">
    <div class="overlay" ng-show="showAdd">
      
      <a class="gulp-button close-btn" ng-click="showAdd=false">&times;</a>

      <!-- iterate through the all tasks -->
    <ul class="predefined" >
      <li ng-repeat="(key, task) in predefinedTasks" ng-click="select(task);" class="task"> 
          <h2>{{task.type}}</h2> 
          <p>{{task.description}}</p> 
      </li>
    </ul>

    </div>

  </div>