.new-gulpfile{
  display: block;
  margin: 6.25rem auto 0;
  max-width: 850px;
  text-align: center;
  width: 100%;
  
  @include phone {
    margin-top: 1rem; 
  }
  
  ::placeholder{
    color:rgba($white-regular,.5);
  }

  .group{
    margin-bottom: 4rem;
  }

  label{
    padding-right: 1em;
    text-align: right;
    width: 50%;
  }

  .field { 
    input, textarea{
      // TODO fix this in _forms.scss for selector .field input:empty, .field input:required:invalid, .field textarea:empty, .field textarea:required:invalid
      background-color: transparent;
      border: none;
      border-bottom: 1px dotted $white-regular;
      color: $white-regular;
    }
    textarea{
      max-height: 16rem;
    }
    
    .version{
      width: 4.2em;
    }
  }
  
  .btn-cancel{
    color: $white-regular;
    &:hover, &:focus{
      border-bottom-color: $white-regular;
    }
  }
  .btn-save, .btn-next{
    background-color: $white-regular;
    margin: 0 .5rem;
  }
  
  .overview-json {
    padding-left: 25%;
    text-align: left;
    
  }
}
