/**
 * Colors
 */
// Default fonts
$default-font-stack: "Open Sans",Helvetica,Arial,sans-serif !default;

// base font size for entire application
$base-font-size: 16px !default;

/* animations */
$animation-duration: .2s !default;
$animation-easing: ease-in !default; 

$white-regular: #ffffff !default;
$black-dark: #000000 !default;
$black-regular: #3F4751 !default;
$grey-dark: #666666 !default;
$grey-light: #f2f2f2 !default;

$red-regular: #e74c3c !default;
$green-regular: #00B16A !default;
$btn-turquoise: #1abc9c !default;
$orange-regular: #e67e22 !default;
$purple-regular: #9b59b6 !default;
$blue-regular: #3498db !default;
$yellow-regular: #E8C53A !default;

$btn-hover-darken: 10% !default;
