<div class="group">
  
  <h2>Application</h2>
  
  <div class="field">
    <label for="name">Name *</label>
      <input type="text" id="name" placeholder="name of the application" name="name" maxlength="214" ng-model="settings.name" ng-model-options="{updateOn:'blur'}" packagename autofocus required/>
  </div>
  <div ng-messages="form.name.$error" ng-show="form.name.$touched">
    <div ng-message="required">The name of the application is required</div>
    <div ng-message="maxlength">The name of the application can only contain 214 characters</div>
  </div>
  
  <div class="field">
    <label for="description">Description *</label>
    <textarea id="description" placeholder="description of the application" name="description" ng-model="settings.description" required></textarea> 
  </div>
  <div ng-messages="form.description.$error" ng-show="form.description.$touched">
    <div ng-message="required">This field is required</div>
  </div>
  
  <div class="field">
    <label for="version">version *</label>
    <input type="number" id="version-major" min="0" class="version" placeholder="major" name="major" ng-model="settings.version.major" ng-model-options="{updateOn:'blur'}" required/> .
    <input type="number" id="version-minor" min="0" class="version" placeholder="minor" name="minor" ng-model="settings.version.minor" ng-model-options="{updateOn:'blur'}" required/> .
    <input type="number" id="version-patch" min="0" class="version" placeholder="patch" name="patch" ng-model="settings.version.patch" ng-model-options="{updateOn:'blur'}" required/> 
  </div>
  <div ng-messages="form.major.$error" ng-show="form.major.$touched">
    <div ng-message="required">Field major is required</div>
    <div ng-message="min">Minimum value is 0</div>
  </div>
  <div ng-messages="form.minor.$error" ng-show="form.minor.$touched">
    <div ng-message="required">Field minor is required</div>
    <div ng-message="min">Minimum value is 0</div>
  </div>
  <div ng-messages="form.patch.$error" ng-show="form.patch.$touched">
    <div ng-message="required">Field patch is required</div>
    <div ng-message="min">Minimum value is 0</div>
  </div>
  
  <div class="field">
    <label for="licence">Licence *</label>
      <input type="text" id="licence" placeholder="licence type" name="licence" ng-model="settings.licence" ng-model-options="{updateOn:'blur'}" required list="licenses" />
  </div>
  <div ng-messages="form.licence.$error" ng-show="form.licence.$touched">
    <div ng-message="required">Licence is required</div>
  </div>
  <datalist id="licenses">
    <option value="ISC" />
    <option value="MIT" />
    <option value="Apache-2.0" />
    <option value="UNLICENSED" />
    <option value="private" />
    <option value="GNU General Public License" />
    <option value="GNU Lesser General Public License" />
    <option value="Mozilla Public License" />
  </datalist>
  
  <div class="field">
    <label for="keywords">Keywords (comma separated)</label>
    <input type="text" id="keywords" placeholder="keywords describing this application" name="keywords" ng-model="settings.keywords" ng-model-options="{updateOn:'blur'}" />
  </div>
  
  
  <div class="field">
      <a class="btn-cancel btn-link" href="/#/">Cancel</a>
      <button class="btn-next" ng-disabled="!form.$valid" ng-click="next('settings.repository')">Continue</button>
  </div>
</div>
